.App {
  text-align: center;
  display:inline-block;
  width: 100%;
  
}

.App-logo {
  position: relative;
  top: 0px;
}

.App-header {
  background-color:#414957;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #09d3ac;
}

.header2 {
  position: relative;
  top: 0px;
  text-align: center;
}

.chart {
  position: relative;
  overflow: hidden;
  filter: invert(100%) !important;
  padding: 0px 0px 40px 0px;
}
